<!DOCTYPE html>
<html lang="en">
<head>
   
<!--   Refer AngularJS: "Controller as" or "$scope"? @ http://codetunnel.io/angularjs-controller-as-or-scope/-->
   
    <meta charset="UTF-8">
    <title>Scope This..!!</title>
</head>
<body ng-app="myApp">
   
   <h2>Change the value in the parent input and see the child input update.</h2>

    <h2>Then change the value in the child input and notice that the parent does not update.</h2>
   
    <div ng-controller="ParentController" >
        <p/>
       Parent Controller : <input type="text" ng-model="foo" />
        
        <p/>
        <div ng-controller="ChildController">
            Child Controller : <input type="text" ng-model="foo" />
        </div>
    </div>
</body>

<script src="/node_modules/angular/angular.js"></script>
<script>
    angular.module("myApp",[])
        .controller("ParentController", function($scope){
            $scope.foo="bar";    
        })
        .controller("ChildController", function($scope){
            //Empty 
        });
</script>
</html>